.img-logo{
    height: 40px;
    width: 50px;
}
#navitem1{
    font-family: r;
    color: #323f4b;
}
#navitem3{
    font-family: r;
    color: #323f4b;
}
#navitem2{
    font-family: r;
    color: #323f4b;
}
#navitem4{
    font-family: r;
    color: #323f4b;
}
.main-bg-img{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 85vh;
    background-size: cover;
}
.bg-headding{
    color: #fff;
    font-weight: 300;
    font-family: r;
    font-size: 40px;
}
.bg-content{
    color: #fff;
    font-family: r;
    font-weight: 300;
    font-size: 28px;
}
.v-button{
    background-color: #d0b200;
    border-width: 0px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-family: r;
    height: 35px;
    width: 100px;
}
.o-button{
    background-color: transparent;
    color: #d0b200;
    font-size: 15px;
    border-style: solid;
    border-color: #d0b200;
    border-width: 1px;
    border-radius: 8px;
    height: 35px;
    width: 100px;
}
.wcu-head{
    color: #183b56;
    font-family: r;
    font-weight: bold;
    font-size: 35px;
}
.wcu-info{
    font-size: 18px;
    color: #5a7184;
    font-family: r;
}
.card-img{
    height: 90px;
    width: 87px;
}
.card-title{
    color: #183b56;
    font-size: 25px;
    font-family: r;
    font-weight: 400;
}
.card-info{
    color: #7b8794;
    font-family: r;
    font-size: 15px;
}
.wcu-card{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5eaf4;
}
.menu-section{
    background-color: #fff;
    padding: 10px;
}

.menu-head{
    color: #183b56;
    font-family: r;
    font-size: 35px;
    font-weight: bold;

}
.menu-img-card{
    border-radius: 15px;
}
.card-head{
    font-size: 23px;
    color: #183b56;
    font-family: r;
    font-weight: 500;

}
.view{
    color: #d0b200;
}
.healthy-head{
    font-size: 25px;
    font-family: r;
    font-weight: bold;
    color: #183b56;
}
.healthy-info{
    font-size: 14px;
    font-family: r;
    color: #5a7184;
}
.healthy-button{
    background-color: #d0b200;
    border-width: 0px;
    height: 35px;
    width: 120px;
    color:#fff;
    border-radius: 15px;
}
.healthy-img{
    width: 250px;
}
.payment-delivery{
    background-color: #fff;
}
.payment-button{
    background-color: #d0b200;
    color: #fff;
    border-width: 0px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
.payment-headding{
    color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.payment-info{
    font-size: 15px;
    font-family: r;
    color: #5a7184;
}
.payment-card-img{
    height: 10vh;
    margin-right: 20px;
}
.thanku-headding{
    font-size: 25px;
    color: #183b56;
}
.custmer-gift{
    background-color: #d0b2001a ;
}
.thanku-info{
    color: #7b8794;
}
.thanku-img{
    width: 270px;
    margin-bottom: 25px;
}
.thanku-button{
    background-color: #d0b200;
    height: 40px;
    width: 120px;
    border-width: 0px;
    border-radius: 10px;
    color: #fff;
}
.follow-us{
    color: #183b56;
    font-weight: bold;
    text-align: center;
}
.bootom{
    background-color: #183b56;
    text-align: center;
}
.bootom-img{
    height: 60px;
    width: 60px;

}
.btm-mail{
    color: #7b8794;
    font-family: y;
}
.icon{
    color: #d0b200;
    font-size: 35px;
    
}
.icon-container{
    width: 80px;
    height: 80px;
    background-color: #faf7e8;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
    margin: 15px;
    border-radius: 50%;
}






